		<footer>
			<div class="col-lg-12">
				<div class="footer-section">
					<div class="col-lg-3">
						<div class="footer-heading">
							yalla pal
						</div>
						<div class="footer-heading-border"></div>
						<div class="footer-para">
							Yalla pal store is a platform portal we bring a unique style and diffrent range
						</div>
						<div class="footer-para">
							info@yallapal.com<br>+968 6963 86
						</div>
					</div>
					<div class="col-lg-3">
						<ul>
							<li><a href="#">Home</a></li>
							<li><a href="#">about us</a></li>
							<li><a href="#">contact us</a></li>
							<li><a href="#">faq</a></li>
							<li><a href="#">help</a></li>
						</ul>
					</div>
					<div class="col-lg-3">
						<ul>
							<li><a href="#">blog</a></li>
							<li><a href="#">latest</a></li>
							<li><a href="#">location</a></li>
						</ul>
					</div>
					<div class="col-lg-3">
						<div class="footer-heading-1">
							get in touch with us
						</div>
						<input type="text" name="" id="" class="footer-input">
						<div class="footer-para">
							FOLLOW US ON SOCIAL MEDIA
						</div>
						<div class="social-icon-div">	
							<a href="#">
								<div class="social-icon">
									<i class="fa fa-facebook"></i>
								</div>
							</a>
							<a href="#">
								<div class="social-icon">
									<i class="fa fa-linkedin"></i>
								</div>
							</a>
							<a href="#">
								<div class="social-icon">
									<i class="fa fa-instagram"></i>
								</div>
							</a>
							<a href="#">
								<div class="social-icon">
									<i class="fa fa-twitter"></i>
								</div>
							</a>
							<a href="#">
								<div class="social-icon">
									<i class="fa fa-tumblr"></i>
								</div>
							</a>
						</div>	
					</div>
				</div>
			</div>
		</footer>
	</div>
	<div class="copyrights">
		&copy; 2020, yallapal. all rights reserved
	</div>

</body>
</html>

<script type="text/javascript">

	/*wow animation*/

	var wow = new WOW(
	  {
	    boxClass:     'wow',      // animated element css class (default is wow)
	    animateClass: 'animated', // animation css class (default is animated)
	    offset:       0,          // distance to the element when triggering the animation (default is 0)
	    mobile:       true,       // trigger animations on mobile devices (default is true)
	    live:         true,       // act on asynchronously loaded content (default is true)
	    callback:     function(box) {
	      // the callback is fired every time an animation is started
	      // the argument that is passed in is the DOM node being animated
	    },
	    scrollContainer: null // optional scroll container selector, otherwise use window
	  }
	);
	wow.init();

	//
	var sortBy = '';
	function sortingFunction(sortBy) {
		window.location = "/theme/event?sort_by=" + sortBy;
	}
</script>
