{{> themeHeader }}
	
	<div id="header" style="background-image: url('/assets/img/car.png');">
		<div class="main-content">	
			<div class="page-heading">
				<div class="page-heading-txt">
					Yalla<span>Cars</span>
				</div>
			</div>
		</div>	
	</div>

	<div class="main-content">
		<div class="col-lg-12">
			
			<div class="col-lg-6">
				<img src="/assets/img/car-1.png" style="width: 100%;">
			</div>
			<div class="col-lg-6">
				<img src="/assets/img/car-2.png" style="width: 100%;">
			</div>

		</div>
{{> themeFooter }}
