{{> themeHeader }}
	
	<div id="header" style="background-image: url('/assets/img/events.png');">
		<div class="main-content">	
			<div class="page-heading">
				<div class="page-heading-txt">
					Yalla<span>Events</span>
				</div>
			</div>
		</div>	
	</div>

	<div class="main-content">
		<div class="col-lg-12">
			<div class="col-lg-3 clearfix">
				<div class="main-filter wow bounceInDown">
					<div class="main-filter-heading">
						show months
					</div>
					<a href="#"><div class="filter-txt">. january <span>(9)</span></div></a>
					<a href="#"><div class="filter-txt">. march <span>(9)</span></div></a>
					<a href="#"><div class="filter-txt">. April <span>(9)</span></div></a>
					<a href="#"><div class="filter-txt">. may <span>(9)</span></div></a>
					<a href="#"><div class="filter-txt">. june <span>(9)</span></div></a>
					<a href="#"><div class="filter-txt">. july <span>(9)</span></div></a>
					<a href="#"><div class="filter-txt">. august <span>(9)</span></div></a>
					<a href="#"><div class="filter-txt">. september <span>(9)</span></div></a>
					<a href="#"><div class="filter-txt">. october <span>(9)</span></div></a>
				</div>
				<div class="sub-filter wow bounceInDown">
					<div class="sub-filter-heading">
						tags
					</div>
					<a href="#"><div class="sub-filter-txt">. arts <span>(5)</span></div></a>
					<a href="#"><div class="sub-filter-txt">. community <span>(5)</span></div></a>
					<a href="#"><div class="sub-filter-txt">. family <span>(5)</span></div></a>
					<a href="#"><div class="sub-filter-txt">. lifestyly <span>(5)</span></div></a>
					<a href="#"><div class="sub-filter-txt">. experience <span>(5)</span></div></a>
					<a href="#"><div class="sub-filter-txt">. entertainment <span>(5)</span></div></a>
				</div>
				<div class="filter-submit-btn  wow bounceInRight">
					Apply
				</div>
			</div>
			<div class="col-lg-9">

				<div class="col-lg-12 clearfix">
					<div class="secondary-filter clearfix">
						<div class="col-lg-3">
							<select class="sort-by">
								<option>Sort By</option>
								<option>Name</option>
								<option>Date</option>
							</select>
						</div>
						<div class="col-lg-9">
							<div class="search">
								<input type="text" name="search-by" id="search-by" placeholder="Search">
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="col-lg-4 wow bounceInLeft" data-wow-delay="0.5s">
						<div class="property-div">
							<div class="property-div-img">
								<img src="/assets/img/event-1.png">
							</div>
							<div class="property-div-content">
								<div class="property-div-heading">
									jan 20 - may 20
								</div>
								<div class="property-div-txt">
									virtual exhibitions
								<div class="property-div-price">
									<i class="fa fa-map-marker"></i>	
								</div>	
								<div class="location">
									ritz carlton hotel dubai
								</div>		
								</div>
								<div class="row">
									<div class="view-detail-events">
										View Detail
									</div>	
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 wow bounceInLeft" data-wow-delay="0.6s">
						<div class="property-div">
							<div class="property-div-img">
								<img src="/assets/img/event-2.png">
							</div>
							<div class="property-div-content">
								<div class="property-div-heading">
									july 01 - july 03
								</div>
								<div class="property-div-txt">
									mohammed kazem replicates
								</div>		
								<div class="property-div-price">
									<i class="fa fa-map-marker"></i>	
								</div>	
								<div class="location">
									ritz carlton hotel dubai
								</div>		
								</div>
								<div class="row">
									<div class="view-detail-events">
										View Detail
									</div>	
								</div>
							</div>
					</div>
					
					<div class="col-lg-4 wow bounceInLeft" data-wow-delay="0.7s">
						<div class="property-div">
							<div class="property-div-img">
								<img src="/assets/img/event-3.png">
							</div>
							<div class="property-div-content">
								<div class="property-div-heading">
									aug 01 - sep 03
								</div>
								<div class="property-div-txt">
									explore an accentuated
								</div>
								<div class="property-div-price">
									<i class="fa fa-map-marker"></i>	
								</div>	
								<div class="location">
									ritz carlton hotel dubai
								</div>		
								<div class="row">
									<div class="view-detail-events">
										View Detail
									</div>	
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="col-lg-4 wow bounceInLeft" data-wow-delay="0.5s">
						<div class="property-div">
							<div class="property-div-img">
								<img src="/assets/img/event-1.png">
							</div>
							<div class="property-div-content">
								<div class="property-div-heading">
									jan 20 - may 20
								</div>
								<div class="property-div-txt">
									virtual exhibitions
								<div class="property-div-price">
									<i class="fa fa-map-marker"></i>	
								</div>	
								<div class="location">
									ritz carlton hotel dubai
								</div>		
								</div>
								<div class="row">
									<div class="view-detail-events">
										View Detail
									</div>	
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 wow bounceInLeft" data-wow-delay="0.6s">
						<div class="property-div">
							<div class="property-div-img">
								<img src="/assets/img/event-2.png">
							</div>
							<div class="property-div-content">
								<div class="property-div-heading">
									july 01 - july 03
								</div>
								<div class="property-div-txt">
									mohammed kazem replicates
								</div>		
								<div class="property-div-price">
									<i class="fa fa-map-marker"></i>	
								</div>	
								<div class="location">
									ritz carlton hotel dubai
								</div>		
								</div>
								<div class="row">
									<div class="view-detail-events">
										View Detail
									</div>	
								</div>
							</div>
					</div>
					
					<div class="col-lg-4 wow bounceInLeft" data-wow-delay="0.7s">
						<div class="property-div">
							<div class="property-div-img">
								<img src="/assets/img/event-3.png">
							</div>
							<div class="property-div-content">
								<div class="property-div-heading">
									aug 01 - sep 03
								</div>
								<div class="property-div-txt">
									explore an accentuated
								</div>
								<div class="property-div-price">
									<i class="fa fa-map-marker"></i>	
								</div>	
								<div class="location">
									ritz carlton hotel dubai
								</div>		
								<div class="row">
									<div class="view-detail-events">
										View Detail
									</div>	
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="col-lg-4 wow bounceInLeft" data-wow-delay="0.5s">
						<div class="property-div">
							<div class="property-div-img">
								<img src="/assets/img/event-1.png">
							</div>
							<div class="property-div-content">
								<div class="property-div-heading">
									jan 20 - may 20
								</div>
								<div class="property-div-txt">
									virtual exhibitions
								<div class="property-div-price">
									<i class="fa fa-map-marker"></i>	
								</div>	
								<div class="location">
									ritz carlton hotel dubai
								</div>		
								</div>
								<div class="row">
									<div class="view-detail-events">
										View Detail
									</div>	
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 wow bounceInLeft" data-wow-delay="0.6s">
						<div class="property-div">
							<div class="property-div-img">
								<img src="/assets/img/event-2.png">
							</div>
							<div class="property-div-content">
								<div class="property-div-heading">
									july 01 - july 03
								</div>
								<div class="property-div-txt">
									mohammed kazem replicates
								</div>		
								<div class="property-div-price">
									<i class="fa fa-map-marker"></i>	
								</div>	
								<div class="location">
									ritz carlton hotel dubai
								</div>		
								</div>
								<div class="row">
									<div class="view-detail-events">
										View Detail
									</div>	
								</div>
							</div>
					</div>
					
					<div class="col-lg-4 wow bounceInLeft" data-wow-delay="0.7s">
						<div class="property-div">
							<div class="property-div-img">
								<img src="/assets/img/event-3.png">
							</div>
							<div class="property-div-content">
								<div class="property-div-heading">
									aug 01 - sep 03
								</div>
								<div class="property-div-txt">
									explore an accentuated
								</div>
								<div class="property-div-price">
									<i class="fa fa-map-marker"></i>	
								</div>	
								<div class="location">
									ritz carlton hotel dubai
								</div>		
								<div class="row">
									<div class="view-detail-events">
										View Detail
									</div>	
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
{{> themeFooter }}
